################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/F767ZIT6_Screen_Test/FileContentIndex/29cf1235-7e23-4010-9d49-3b4d74749b5d.vsidx
/.settings/stm32cubeide.project.prefs
/.vs/F767ZIT6_Screen_Test/FileContentIndex/48883d90-f127-4a8d-8a84-c8e16db1a936.vsidx
/.vs/F767ZIT6_Screen_Test/FileContentIndex/4c59969a-5ddc-48be-8161-cbfd8f6cb288.vsidx
/.vs/F767ZIT6_Screen_Test/FileContentIndex/69a7f561-921b-4522-9a99-b0aff6073cc8.vsidx
/.vs/F767ZIT6_Screen_Test
/.vs
